<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.xunjian.mapper.HospitalListMapper">
  <resultMap id="BaseResultMap" type="org.xunjian.mapper.model.HospitalList">
    <!--@mbg.generated-->
    <!--@Table hospital-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="LONGVARCHAR" property="name" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
    <result column="day_config" jdbcType="LONGVARCHAR" property="dayConfig" />
    <result column="year_config" jdbcType="LONGVARCHAR" property="yearConfig" />
    <result column="month_config" jdbcType="LONGVARCHAR" property="monthConfig" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, description, day_config, year_config, month_config
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from hospital
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from hospital
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="org.xunjian.mapper.model.HospitalList" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into hospital (`name`, description, day_config, 
      year_config, month_config)
    values (#{name,jdbcType=LONGVARCHAR}, #{description,jdbcType=LONGVARCHAR}, #{dayConfig,jdbcType=LONGVARCHAR}, 
      #{yearConfig,jdbcType=LONGVARCHAR}, #{monthConfig,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="org.xunjian.mapper.model.HospitalList" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into hospital
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="dayConfig != null">
        day_config,
      </if>
      <if test="yearConfig != null">
        year_config,
      </if>
      <if test="monthConfig != null">
        month_config,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=LONGVARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="dayConfig != null">
        #{dayConfig,jdbcType=LONGVARCHAR},
      </if>
      <if test="yearConfig != null">
        #{yearConfig,jdbcType=LONGVARCHAR},
      </if>
      <if test="monthConfig != null">
        #{monthConfig,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.xunjian.mapper.model.HospitalList">
    <!--@mbg.generated-->
    update hospital
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=LONGVARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="dayConfig != null">
        day_config = #{dayConfig,jdbcType=LONGVARCHAR},
      </if>
      <if test="yearConfig != null">
        year_config = #{yearConfig,jdbcType=LONGVARCHAR},
      </if>
      <if test="monthConfig != null">
        month_config = #{monthConfig,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.xunjian.mapper.model.HospitalList">
    <!--@mbg.generated-->
    update hospital
    set `name` = #{name,jdbcType=LONGVARCHAR},
      description = #{description,jdbcType=LONGVARCHAR},
      day_config = #{dayConfig,jdbcType=LONGVARCHAR},
      year_config = #{yearConfig,jdbcType=LONGVARCHAR},
      month_config = #{monthConfig,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2022-08-24-->

  <!--auto generated by MybatisCodeHelper on 2022-08-24-->
  <select id="listByAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from hospital
    <where>
      <if test="id != null">
        and id=#{id,jdbcType=INTEGER}
      </if>
      <if test="name != null">
        and `name`=#{name,jdbcType=LONGVARCHAR}
      </if>
      <if test="description != null">
        and description=#{description,jdbcType=LONGVARCHAR}
      </if>
      <if test="dayConfig != null">
        and day_config=#{dayConfig,jdbcType=LONGVARCHAR}
      </if>
      <if test="yearConfig != null">
        and year_config=#{yearConfig,jdbcType=LONGVARCHAR}
      </if>
      <if test="monthConfig != null">
        and month_config=#{monthConfig,jdbcType=LONGVARCHAR}
      </if>
    </where>
  </select>

<!--auto generated by MybatisCodeHelper on 2022-08-25-->
  <select id="selectByAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from hospital
    <where>
      <if test="id != null">
        and id=#{id,jdbcType=INTEGER}
      </if>
      <if test="name != null">
        and `name`=#{name,jdbcType=LONGVARCHAR}
      </if>
      <if test="description != null">
        and description=#{description,jdbcType=LONGVARCHAR}
      </if>
      <if test="dayConfig != null">
        and day_config=#{dayConfig,jdbcType=LONGVARCHAR}
      </if>
      <if test="yearConfig != null">
        and year_config=#{yearConfig,jdbcType=LONGVARCHAR}
      </if>
      <if test="monthConfig != null">
        and month_config=#{monthConfig,jdbcType=LONGVARCHAR}
      </if>
    </where>
  </select>
</mapper>