<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.xunjian.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="org.xunjian.mapper.model.User">
    <!--@mbg.generated-->
    <!--@Table `user`-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="LONGVARCHAR" property="username" />
    <result column="role" jdbcType="INTEGER" property="role" />
    <result column="password" jdbcType="LONGVARCHAR" property="password" />
    <result column="from_hospital_id" jdbcType="INTEGER" property="fromHospitalId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, username, `role`, `password`, from_hospital_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from `user`
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from `user`
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="org.xunjian.mapper.model.User" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into `user` (username, `role`, `password`, 
      from_hospital_id)
    values (#{username,jdbcType=LONGVARCHAR}, #{role,jdbcType=INTEGER}, #{password,jdbcType=LONGVARCHAR}, 
      #{fromHospitalId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="org.xunjian.mapper.model.User" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into `user`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="username != null">
        username,
      </if>
      <if test="role != null">
        `role`,
      </if>
      <if test="password != null">
        `password`,
      </if>
      <if test="fromHospitalId != null">
        from_hospital_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="username != null">
        #{username,jdbcType=LONGVARCHAR},
      </if>
      <if test="role != null">
        #{role,jdbcType=INTEGER},
      </if>
      <if test="password != null">
        #{password,jdbcType=LONGVARCHAR},
      </if>
      <if test="fromHospitalId != null">
        #{fromHospitalId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.xunjian.mapper.model.User">
    <!--@mbg.generated-->
    update `user`
    <set>
      <if test="username != null">
        username = #{username,jdbcType=LONGVARCHAR},
      </if>
      <if test="role != null">
        `role` = #{role,jdbcType=INTEGER},
      </if>
      <if test="password != null">
        `password` = #{password,jdbcType=LONGVARCHAR},
      </if>
      <if test="fromHospitalId != null">
        from_hospital_id = #{fromHospitalId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.xunjian.mapper.model.User">
    <!--@mbg.generated-->
    update `user`
    set username = #{username,jdbcType=LONGVARCHAR},
      `role` = #{role,jdbcType=INTEGER},
      `password` = #{password,jdbcType=LONGVARCHAR},
      from_hospital_id = #{fromHospitalId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2022-08-20-->
  <select id="selectByRole" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from `user`
    <where>
      <if test="role != null">
        and `role`=#{role,jdbcType=INTEGER}
      </if>
    </where>
  </select>

<!--auto generated by MybatisCodeHelper on 2022-08-20-->
  <update id="updateUsernameById">
    update `user`
    set username=#{updatedUsername,jdbcType=LONGVARCHAR}
    where id=#{id,jdbcType=INTEGER}
  </update>
  <select id="selectUserByHospitalOwner" resultMap="BaseResultMap">
    select u.* from user u left join hospital h on u.name=h.owner where h.name="#{hostpitalOwner}"
  </select>

<!--auto generated by MybatisCodeHelper on 2022-08-25-->
  <select id="selectByUsername" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `user`
        where username=#{username,jdbcType=LONGVARCHAR}
    </select>

<!--auto generated by MybatisCodeHelper on 2022-10-16-->
  <select id="listByAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from `user`
    <where>
      <if test="id != null">
        and id=#{id,jdbcType=INTEGER}
      </if>
      <if test="username != null">
        and username=#{username,jdbcType=LONGVARCHAR}
      </if>
      <if test="role != null">
        and `role`=#{role,jdbcType=INTEGER}
      </if>
      <if test="password != null">
        and `password`=#{password,jdbcType=LONGVARCHAR}
      </if>
      <if test="fromHospitalId != null">
        and from_hospital_id=#{fromHospitalId,jdbcType=INTEGER}
      </if>
    </where>
  </select>
</mapper>